
pat/pat.xcodeproj/xcuserdata/xiaoxiangzi.xcuserdatad/xcschemes/xcschememanagement.plist

pat/pat.xcodeproj/xcuserdata/xiaoxiangzi.xcuserdatad/xcschemes/pat.xcscheme

pat/pat.xcodeproj/project.xcworkspace/xcuserdata/xiaoxiangzi.xcuserdatad/UserInterfaceState.xcuserstate

pat/pat.xcodeproj/project.xcworkspace/contents.xcworkspacedata

pat/.DS_Store

.DS_Store
